(
	graphics: (
		window_size: (1280, 720),
		vsync: true,
		fov: 90.0,
	),
	input: (
		bindings: {
			A: MoveLeft,
			D: MoveRight,
			S: MoveBackwards,
			W: MoveForward,
			Escape: Escape,
			Space: FlyUp,
			LShift: FlyDown,
		},
	),
)